### ë¨¸ì‹ ëŸ¬ë‹ ì²«ë²ˆì§¸ - ë°ì´í„° ì •ê·œí™”

ì˜¤ë¼í´ ì ‘ì†

In [2]:
import oracledb

# Oracle Instant Client ë¼ì´ë¸ŒëŸ¬ë¦¬ ê²½ë¡œ
client_dir = r"C:\\Users\\user\\Desktop\\KSM\\Tools\\instantclient-basic-windows.x64-19.25.0.0.0dbru\\instantclient_19_25"
oracledb.init_oracle_client(lib_dir=client_dir)

# ì ‘ì† ì •ë³´ ì…ë ¥
username = "libra"
password = "ksm0923"
dsn = "localhost:1521/XE"

# ì ‘ì† ì‹œë„
try:
    conn = oracledb.connect(user=username, password=password, dsn=dsn)
    cursor = conn.cursor()
    print("ğŸ”— Oracle DB ì ‘ì† ì„±ê³µ")
except Exception as e:
    print("âŒ Oracle DB ì—°ê²° ì‹¤íŒ¨:", e)

ğŸ”— Oracle DB ì ‘ì† ì„±ê³µ

ì—°ë„ë³„ NUM01~05 ë°ì´í„°ë¥¼ í•˜ë‚˜ì˜ í…Œì´ë¸”ë¡œ í•©ì¹˜ê¸° -> TD_"ì—°ë„" íƒœì´ë¸” ìƒì„±

In [9]:
import pandas as pd

# ğŸ” ì—°ë„ ë° ê³µí†µ ì»¬ëŸ¼ ì„¤ì •
years = range(2014, 2025)
common_cols = ['YR', 'ID', 'SNM', 'STYP', 'FND', 'RGN', 'USC']

for year in years:
    dfs = []
    for i in range(1, 6):  # NUM01 ~ NUM05
        table = f"NUM0{i}_{year}"

        try:
            df = pd.read_sql(f"SELECT * FROM {table}", conn)
            df.columns = [col.upper() for col in df.columns]  # ëŒ€ì†Œë¬¸ì í†µì¼
            df['YR'] = year  # í˜¹ì‹œ ë¹ ì ¸ ìˆìœ¼ë©´ ì‚½ì…

            if i > 1:
                df = df.drop(columns=[col for col in common_cols if col in df.columns])

            dfs.append(df)

        except Exception as e:
            print(f"âŒ {table} ë¶ˆëŸ¬ì˜¤ê¸° ì‹¤íŒ¨: {e}")

    # ğŸ§± í…Œì´ë¸” ë³‘í•© ë° ì €ì¥
    if dfs:
        df_td = pd.concat(dfs, axis=1)
        td_table_name = f"TD_{year}"

        try:
            # ì˜¤ë¼í´ í…Œì´ë¸” ìƒì„± (SQLAlchemy ì—†ì´ oracledbë§Œìœ¼ë¡œ ì§ì ‘ ì‹¤í–‰)
            columns = ', '.join([f'"{col}" CLOB' if df_td[col].dtype == 'object' else f'"{col}" FLOAT' for col in df_td.columns])
            create_sql = f'CREATE TABLE "{td_table_name}" ({columns})'

            try:
                cursor.execute(f'DROP TABLE "{td_table_name}"')
            except:
                pass  # ì¡´ì¬ ì•ˆ í•  ê²½ìš° ë¬´ì‹œ

            cursor.execute(create_sql)

            # ë ˆì½”ë“œ ì…ë ¥
            rows = [tuple(row) for row in df_td.itertuples(index=False, name=None)]
            placeholders = ', '.join([':' + str(i+1) for i in range(len(df_td.columns))])
            insert_sql = f'INSERT INTO "{td_table_name}" VALUES ({placeholders})'
            cursor.executemany(insert_sql, rows)
            conn.commit()

            print(f"ğŸ“¦ Oracle ì €ì¥ ì™„ë£Œ: {td_table_name} ({df_td.shape})")

        except Exception as e:
            print(f"âŒ Oracle ì €ì¥ ì‹¤íŒ¨: {td_table_name} â†’ {e}")

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

ğŸ“¦ Oracle ì €ì¥ ì™„ë£Œ: TD_2014 ((461, 139))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

ğŸ“¦ Oracle ì €ì¥ ì™„ë£Œ: TD_2015 ((461, 139))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

ğŸ“¦ Oracle ì €ì¥ ì™„ë£Œ: TD_2016 ((461, 139))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

ğŸ“¦ Oracle ì €ì¥ ì™„ë£Œ: TD_2017 ((461, 139))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

ğŸ“¦ Oracle ì €ì¥ ì™„ë£Œ: TD_2018 ((461, 139))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

ğŸ“¦ Oracle ì €ì¥ ì™„ë£Œ: TD_2019 ((461, 157))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

ğŸ“¦ Oracle ì €ì¥ ì™„ë£Œ: TD_2020 ((461, 165))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

ğŸ“¦ Oracle ì €ì¥ ì™„ë£Œ: TD_2021 ((461, 171))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

ğŸ“¦ Oracle ì €ì¥ ì™„ë£Œ: TD_2022 ((461, 169))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

ğŸ“¦ Oracle ì €ì¥ ì™„ë£Œ: TD_2023 ((461, 169))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

ğŸ“¦ Oracle ì €ì¥ ì™„ë£Œ: TD_2024 ((461, 168))

NUM00_ì—°ë„ í…Œì´ë¸”ì„ ê¸°ì¤€ìœ¼ë¡œ í‰ê°€ì ìˆ˜ê°€ ì¡´ì¬í•˜ëŠ” ë°ì´í„°ë§Œ í•„í„°ë§í•˜ì—¬ SCORE_ALL_"ì—°ë„" í…Œì´ë¸” ìƒì„±

In [ ]:
# ì˜¤ë¥˜ì½”ë“œ

import pandas as pd

for year in range(2014, 2025):
    try:
        # ğŸ“¥ NUM00 í…Œì´ë¸” ë¶ˆëŸ¬ì˜¤ê¸°
        df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
        df_num.columns = [col.upper() for col in df_num.columns]
        df_num["YR"] = year

        # ğŸ“¥ TD í…Œì´ë¸” ë¶ˆëŸ¬ì˜¤ê¸°
        df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)
        df_td.columns = [col.upper() for col in df_td.columns]

        # ğŸ”— ë³‘í•©: NUM00 ê¸°ì¤€ LEFT JOIN
        df_merge = pd.merge(df_num, df_td, on=["SNM", "YR"], how="left")

        # ğŸ§¹ ì¤‘ë³µ ì»¬ëŸ¼ ì œê±°: *_X, *_Y â†’ ìš°ì¸¡ TD ì»¬ëŸ¼ ì œê±°
        df_merge = df_merge.loc[:, ~df_merge.columns.duplicated()]
        df_merge.columns = [col.replace('_X', '').replace('_Y', '') for col in df_merge.columns]

        # ğŸ”§ ë°ì´í„° íƒ€ì… ì •ë¦¬: ìˆ«ìí˜• â†’ float ë³€í™˜ / ë¬¸ìí˜• â†’ str
        for col in df_merge.select_dtypes(include=['float', 'int']).columns:
            df_merge[col] = pd.to_numeric(df_merge[col], errors='coerce')

        for col in df_merge.select_dtypes(include='object').columns:
            df_merge[col] = df_merge[col].astype(str)

        # ğŸ›ï¸ Oracle í…Œì´ë¸” ìƒì„±
        table_name = f'SCORE_ALL_{year}'

        try:
            cursor.execute(f'DROP TABLE "{table_name}"')
        except:
            pass  # ì—†ìœ¼ë©´ ë¬´ì‹œ

        col_defs = ', '.join([
            f'"{col}" CLOB' if df_merge[col].dtype == object else f'"{col}" FLOAT'
            for col in df_merge.columns
        ])
        cursor.execute(f'CREATE TABLE "{table_name}" ({col_defs})')

        # ğŸ”½ INSERT
        rows = [tuple(row) for row in df_merge.itertuples(index=False, name=None)]
        placeholders = ', '.join([f':{i+1}' for i in range(len(df_merge.columns))])
        cursor.executemany(f'INSERT INTO "{table_name}" VALUES ({placeholders})', rows)
        conn.commit()

        print(f"âœ… ì €ì¥ ì™„ë£Œ: {table_name} â†’ {df_merge.shape[0]}í–‰ Ã— {df_merge.shape[1]}ì»¬ëŸ¼")

    except Exception as e:
        print(f"âŒ ì €ì¥ ì‹¤íŒ¨: SCORE_ALL_{year} â†’ {e}")

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… ì €ì¥ ì™„ë£Œ: SCORE_ALL_2014 â†’ 34í–‰ Ã— 141ì»¬ëŸ¼

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… ì €ì¥ ì™„ë£Œ: SCORE_ALL_2015 â†’ 36í–‰ Ã— 141ì»¬ëŸ¼

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… ì €ì¥ ì™„ë£Œ: SCORE_ALL_2016 â†’ 36í–‰ Ã— 141ì»¬ëŸ¼

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… ì €ì¥ ì™„ë£Œ: SCORE_ALL_2017 â†’ 36í–‰ Ã— 141ì»¬ëŸ¼

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… ì €ì¥ ì™„ë£Œ: SCORE_ALL_2018 â†’ 35í–‰ Ã— 141ì»¬ëŸ¼

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… ì €ì¥ ì™„ë£Œ: SCORE_ALL_2019 â†’ 64í–‰ Ã— 159ì»¬ëŸ¼

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… ì €ì¥ ì™„ë£Œ: SCORE_ALL_2020 â†’ 61í–‰ Ã— 167ì»¬ëŸ¼

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… ì €ì¥ ì™„ë£Œ: SCORE_ALL_2021 â†’ 60í–‰ Ã— 173ì»¬ëŸ¼

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… ì €ì¥ ì™„ë£Œ: SCORE_ALL_2022 â†’ 57í–‰ Ã— 171ì»¬ëŸ¼

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… ì €ì¥ ì™„ë£Œ: SCORE_ALL_2023 â†’ 57í–‰ Ã— 171ì»¬ëŸ¼

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… ì €ì¥ ì™„ë£Œ: SCORE_ALL_2024 â†’ 57í–‰ Ã— 170ì»¬ëŸ¼

ì¸í’‹ í›„ë³´êµ° ì»¬ëŸ¼ë§Œ ë‚¨ê²¨ë‘ê³  ì „ì²´ ì‚­ì œ, ëª¨ë“ ì—°ë„ë¥¼ í•©ì¹œ ìµœì¢… í…Œì´ë¸” ìƒì„±

In [19]:
import pandas as pd

# ğŸ¯ ì…ë ¥ ë³€ìˆ˜ ì•½ë¬¸ëª… (21ê°œ)
input_abbr = [
    'BCNT_SUM', 'BPS', 'ABI', 'LAS', 'TRS', 'TPC', 'APS',
    'UBGT', 'USTL', 'MCT', 'CPS',
    'LUC', 'LU_SUM', 'LB_SUM', 'EDC', 'EP', 'LPS', 'VPS',
    'SPK', 'LPK', 'EHS'
]

# ğŸ¯ ë©”íƒ€/íƒ€ê¹ƒ ë³€ìˆ˜ (9ê°œ)
meta_cols = ['YR', 'RK', 'SNM', 'SCR', 'ID', 'STYP', 'FND', 'RGN', 'USC']

# ğŸ™Œ ì»¬ëŸ¼ ìœ ì§€ ëª©ë¡
keep_set = set(input_abbr + meta_cols)

filtered_dfs = []

for year in range(2014, 2025):
    try:
        df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
        df.columns = [col.upper() for col in df.columns]

        # âœ… ì ‘ë¯¸ì–´ ê¸°ì¤€ í•„í„°ë§
        selected_cols = [col for col in df.columns if any(col.endswith(k) or col == k for k in keep_set)]
        df = df[selected_cols]

        # âœ… ëˆ„ë½ ì»¬ëŸ¼ ë³´ì™„
        for col in keep_set:
            if col not in df.columns:
                df[col] = None

        # âœ… ì»¬ëŸ¼ ìˆœì„œ ì •ë ¬
        df = df[[col for col in meta_cols + input_abbr]]
        filtered_dfs.append(df)

        print(f"âœ… í•„í„°ë§ ì™„ë£Œ: SCORE_ALL_{year} â†’ {df.shape}")

    except Exception as e:
        print(f"âŒ ì‹¤íŒ¨: {year} â†’ {e}")

# ğŸ“¦ ì „ì²´ ë³‘í•©
df_filtered = pd.concat(filtered_dfs, ignore_index=True)

# ğŸ”§ ë°ì´í„° íƒ€ì… ì •ì œ
for col in df_filtered.select_dtypes(include=['float', 'int']).columns:
    df_filtered[col] = pd.to_numeric(df_filtered[col], errors='coerce')
for col in df_filtered.select_dtypes(include='object').columns:
    df_filtered[col] = df_filtered[col].astype(str)

# ğŸ›ï¸ Oracle ì €ì¥: SCORE_FILTERED
try:
    cursor.execute('DROP TABLE "SCORE_FILTERED"')
except:
    pass

col_defs = ', '.join([
    f'"{col}" CLOB' if df_filtered[col].dtype == object else f'"{col}" FLOAT'
    for col in df_filtered.columns
])
cursor.execute(f'CREATE TABLE "SCORE_FILTERED" ({col_defs})')

rows = [tuple(row) for row in df_filtered.itertuples(index=False, name=None)]
placeholders = ', '.join([f':{i+1}' for i in range(len(df_filtered.columns))])
cursor.executemany(f'INSERT INTO "SCORE_FILTERED" VALUES ({placeholders})', rows)
conn.commit()

print(f"ğŸ¯ SCORE_FILTERED ì €ì¥ ì™„ë£Œ â†’ {df_filtered.shape[0]}í–‰ Ã— {df_filtered.shape[1]}ì»¬ëŸ¼")

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)

âœ… í•„í„°ë§ ì™„ë£Œ: SCORE_ALL_2014 â†’ (34, 30)
âœ… í•„í„°ë§ ì™„ë£Œ: SCORE_ALL_2015 â†’ (36, 30)
âœ… í•„í„°ë§ ì™„ë£Œ: SCORE_ALL_2016 â†’ (36, 30)
âœ… í•„í„°ë§ ì™„ë£Œ: SCORE_ALL_2017 â†’ (36, 30)
âœ… í•„í„°ë§ ì™„ë£Œ: SCORE_ALL_2018 â†’ (35, 30)
âœ… í•„í„°ë§ ì™„ë£Œ: SCORE_ALL_2019 â†’ (64, 30)
âœ… í•„í„°ë§ ì™„ë£Œ: SCORE_ALL_2020 â†’ (61, 30)
âœ… í•„í„°ë§ ì™„ë£Œ: SCORE_ALL_2021 â†’ (60, 30)

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)

âœ… í•„í„°ë§ ì™„ë£Œ: SCORE_ALL_2022 â†’ (57, 30)
âœ… í•„í„°ë§ ì™„ë£Œ: SCORE_ALL_2023 â†’ (57, 30)
âœ… í•„í„°ë§ ì™„ë£Œ: SCORE_ALL_2024 â†’ (57, 30)

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)

ğŸ¯ SCORE_FILTERED ì €ì¥ ì™„ë£Œ â†’ 533í–‰ Ã— 30ì»¬ëŸ¼

In [20]:
import pandas as pd

# ğŸ” Oracleì—ì„œ SCORE_FILTERED í…Œì´ë¸” ë¶ˆëŸ¬ì˜¤ê¸°
df_filtered = pd.read_sql('SELECT * FROM SCORE_FILTERED', conn)

# ğŸ’¾ CSVë¡œ ì €ì¥
csv_path = r"C:\Users\user\Desktop\SCORE_FILTERED.csv"
df_filtered.to_csv(csv_path, index=False, encoding='utf-8-sig')

print(f"âœ… CSV ì €ì¥ ì™„ë£Œ â†’ {csv_path}")

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2325416135.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_filtered = pd.read_sql('SELECT * FROM SCORE_FILTERED', conn)

âœ… CSV ì €ì¥ ì™„ë£Œ â†’ C:\Users\user\Desktop\SCORE_FILTERED.csv

In [24]:
for year in range(2014, 2025):
    try:
        table_name = f'SCORE_ALL_{year}'
        df = pd.read_sql(f'SELECT * FROM {table_name}', conn)
        df.columns = [col.upper() for col in df.columns]

        print(f"\nğŸ—“ï¸ {table_name} ìƒìœ„ 5í–‰:")
        display(df.head())

    except Exception as e:
        print(f"âŒ {table_name} ë¶ˆëŸ¬ì˜¤ê¸° ì‹¤íŒ¨: {e}")

ğŸ—“ï¸ SCORE_ALL_2014 ìƒìœ„ 5í–‰:

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCP,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2014.0,3,í•œêµ­ê³¼í•™ê¸°ìˆ ì›,49.88,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2014.0,4,ê³ ë ¤ëŒ€í•™êµ,49.84,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2014.0,5,í•œì–‘ëŒ€í•™êµ,48.63,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2014.0,1,ì„œìš¸ëŒ€í•™êµ,66.06,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2014.0,2,ì—°ì„¸ëŒ€í•™êµ,50.95,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

ğŸ—“ï¸ SCORE_ALL_2015 ìƒìœ„ 5í–‰:

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCP,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2015.0,3,ê³ ë ¤ëŒ€í•™êµ,49.79,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2015.0,4,í•œêµ­ê³¼í•™ê¸°ìˆ ì›,48.95,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2015.0,5,í¬í•­ê³µê³¼ëŒ€í•™êµ,48.24,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2015.0,1,ì„œìš¸ëŒ€í•™êµ,64.82,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2015.0,2,ì—°ì„¸ëŒ€í•™êµ,51.02,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

ğŸ—“ï¸ SCORE_ALL_2016 ìƒìœ„ 5í–‰:

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCP,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2016.0,3,í•œêµ­ê³¼í•™ê¸°ìˆ ì›,49.11,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2016.0,4,ê³ ë ¤ëŒ€í•™êµ,49.01,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2016.0,5,í¬í•­ê³µê³¼ëŒ€í•™êµ,47.73,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2016.0,1,ì„œìš¸ëŒ€í•™êµ,64.92,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2016.0,2,ì—°ì„¸ëŒ€í•™êµ,50.25,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

ğŸ—“ï¸ SCORE_ALL_2017 ìƒìœ„ 5í–‰:

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCP,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCP,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2017.0,3,ê³ ë ¤ëŒ€í•™êµ,47.94,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2017.0,4,í•œêµ­ê³¼í•™ê¸°ìˆ ì›,47.34,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2017.0,5,ì„±ê· ê´€ëŒ€í•™êµ,45.71,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2017.0,1,ì„œìš¸ëŒ€í•™êµ,62.23,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2017.0,2,ì—°ì„¸ëŒ€í•™êµ,48.53,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

ğŸ—“ï¸ SCORE_ALL_2018 ìƒìœ„ 5í–‰:

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCP,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCP,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2018.0,3,ì„±ê· ê´€ëŒ€í•™êµ,78,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2018.0,4,ì—°ì„¸ëŒ€í•™êµ,77.9,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2018.0,5,ê³ ë ¤ëŒ€í•™êµ,77.6,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2018.0,1,ì„œìš¸ëŒ€í•™êµ,83.7,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2018.0,2,ê³¼í•™ê¸°ìˆ ì—°í•©ëŒ€í•™ì›ëŒ€í•™êµ,78.8,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

ğŸ—“ï¸ SCORE_ALL_2019 ìƒìœ„ 5í–‰:

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCP,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCP,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2019.0,3,ê³ ë ¤ëŒ€í•™êµ,79.2,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2019.0,4,ì„±ê· ê´€ëŒ€í•™êµ,78.9,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2019.0,5,í•œêµ­ê³¼í•™ê¸°ìˆ ì›,78.7,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2019.0,1,ì„œìš¸ëŒ€í•™êµ,86.3,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2019.0,2,ì—°ì„¸ëŒ€í•™êµ,79.7,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

ğŸ—“ï¸ SCORE_ALL_2020 ìƒìœ„ 5í–‰:

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCC,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2020.0,3,ê³ ë ¤ëŒ€í•™êµ,79.3,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2020.0,4,ì„±ê· ê´€ëŒ€í•™êµ,78.8,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2020.0,5,í•œêµ­ê³¼í•™ê¸°ìˆ ì›,78,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2020.0,1,ì„œìš¸ëŒ€í•™êµ,86.5,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2020.0,2,ì—°ì„¸ëŒ€í•™êµ,79.6,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

ğŸ—“ï¸ SCORE_ALL_2021 ìƒìœ„ 5í–‰:

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCC,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2021.0,2,ê³ ë ¤ëŒ€í•™êµ,79.6,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2021.0,1,ì„œìš¸ëŒ€í•™êµ,86.5,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2021.0,5,í•œêµ­ê³¼í•™ê¸°ìˆ ì›,78.2,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2021.0,6,í•œì–‘ëŒ€í•™êµ,76.5,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2021.0,3,ì—°ì„¸ëŒ€í•™êµ,79.4,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

ğŸ—“ï¸ SCORE_ALL_2022 ìƒìœ„ 5í–‰:

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCC,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2022.0,2,ê³ ë ¤ëŒ€í•™êµ,79.6,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2022.0,1,ì„œìš¸ëŒ€í•™êµ,86.5,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2022.0,5,í•œêµ­ê³¼í•™ê¸°ìˆ ì›,78,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2022.0,6,í•œì–‘ëŒ€í•™êµ,76.6,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2022.0,3,ì—°ì„¸ëŒ€í•™êµ,79.5,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

ğŸ—“ï¸ SCORE_ALL_2023 ìƒìœ„ 5í–‰:

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCC,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2023.0,2,ê³ ë ¤ëŒ€í•™êµ,79.8,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2023.0,1,ì„œìš¸ëŒ€í•™êµ,86.6,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2023.0,5,í•œêµ­ê³¼í•™ê¸°ìˆ ì›,78.2,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2023.0,6,í•œì–‘ëŒ€í•™êµ,76.7,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2023.0,3,ì—°ì„¸ëŒ€í•™êµ,79.8,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

ğŸ—“ï¸ SCORE_ALL_2024 ìƒìœ„ 5í–‰:

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCC,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2024.0,2,ì—°ì„¸ëŒ€í•™êµ,80.2,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2024.0,1,ì„œìš¸ëŒ€í•™êµ,86.7,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2024.0,5,í•œêµ­ê³¼í•™ê¸°ìˆ ì›,78,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2024.0,6,í•œì–‘ëŒ€í•™êµ,76.7,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2024.0,3,ê³ ë ¤ëŒ€í•™êµ,80,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [31]:
import pandas as pd

for year in range(2014, 2025):
    print(f"\nğŸ”„ {year}ë…„ ì²˜ë¦¬ ì¤‘...")

    # ğŸ“¥ NUM00 ë¶ˆëŸ¬ì˜¤ê¸°
    df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
    df_num.columns = [col.upper() for col in df_num.columns]

    # ğŸ“¥ TD ë¶ˆëŸ¬ì˜¤ê¸°
    df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)
    df_td.columns = [col.upper() for col in df_td.columns]

    # ğŸ”§ SNM ì •ì œ
    df_num["SNM"] = df_num["SNM"].astype(str).str.strip().str.upper()
    df_td["SNM"] = df_td["SNM"].astype(str).str.strip().str.upper()

    # ğŸ” TD í•„í„°ë§
    td_filtered = df_td[df_td["SNM"].isin(df_num["SNM"])].copy()

    # âš ï¸ ëˆ„ë½ëœ SNM í™•ì¸
    unmatched_snms = df_num[~df_num["SNM"].isin(df_td["SNM"])]["SNM"].tolist()
    if unmatched_snms:
        print(f"âš ï¸ [ê²½ê³ ] {year}ë…„: NUM00ì— ìˆëŠ” SNM ì¤‘ {len(unmatched_snms)}ê°œê°€ TDì— ì—†ìŒ!")
        print(f"   ëˆ„ë½ëœ SNM ëª©ë¡ âœ {unmatched_snms}")

    # ğŸ§¹ ìˆœì„œ ì •ë ¬
    td_filtered = td_filtered.set_index("SNM").reindex(df_num["SNM"].values).reset_index()

    # âœ… ì¤‘ë³µ ì»¬ëŸ¼ ì œê±°
    overlap_cols = [col for col in td_filtered.columns if col in df_num.columns and col != "SNM"]
    td_filtered = td_filtered.drop(columns=overlap_cols)

    # ğŸ”— ë³‘í•©
    df_merge = pd.concat([df_num.reset_index(drop=True), td_filtered.drop(columns="SNM")], axis=1)

    # ğŸ’¾ ì €ì¥
    csv_path = f"SCORE_ALL_{year}_MERGED.csv"
    df_merge.to_csv(csv_path, index=False, encoding='utf-8-sig')

    print(f"âœ… {year}ë…„ ë³‘í•© ì™„ë£Œ â†’ {csv_path}, {df_merge.shape[0]}í–‰ Ã— {df_merge.shape[1]}ì»¬ëŸ¼")

ğŸ”„ 2014ë…„ ì²˜ë¦¬ ì¤‘...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… 2014ë…„ ë³‘í•© ì™„ë£Œ â†’ SCORE_ALL_2014_MERGED.csv, 34í–‰ Ã— 141ì»¬ëŸ¼

ğŸ”„ 2015ë…„ ì²˜ë¦¬ ì¤‘...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… 2015ë…„ ë³‘í•© ì™„ë£Œ â†’ SCORE_ALL_2015_MERGED.csv, 36í–‰ Ã— 141ì»¬ëŸ¼

ğŸ”„ 2016ë…„ ì²˜ë¦¬ ì¤‘...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… 2016ë…„ ë³‘í•© ì™„ë£Œ â†’ SCORE_ALL_2016_MERGED.csv, 36í–‰ Ã— 141ì»¬ëŸ¼

ğŸ”„ 2017ë…„ ì²˜ë¦¬ ì¤‘...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… 2017ë…„ ë³‘í•© ì™„ë£Œ â†’ SCORE_ALL_2017_MERGED.csv, 36í–‰ Ã— 141ì»¬ëŸ¼

ğŸ”„ 2018ë…„ ì²˜ë¦¬ ì¤‘...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… 2018ë…„ ë³‘í•© ì™„ë£Œ â†’ SCORE_ALL_2018_MERGED.csv, 35í–‰ Ã— 141ì»¬ëŸ¼

ğŸ”„ 2019ë…„ ì²˜ë¦¬ ì¤‘...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… 2019ë…„ ë³‘í•© ì™„ë£Œ â†’ SCORE_ALL_2019_MERGED.csv, 64í–‰ Ã— 159ì»¬ëŸ¼

ğŸ”„ 2020ë…„ ì²˜ë¦¬ ì¤‘...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… 2020ë…„ ë³‘í•© ì™„ë£Œ â†’ SCORE_ALL_2020_MERGED.csv, 61í–‰ Ã— 167ì»¬ëŸ¼

ğŸ”„ 2021ë…„ ì²˜ë¦¬ ì¤‘...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… 2021ë…„ ë³‘í•© ì™„ë£Œ â†’ SCORE_ALL_2021_MERGED.csv, 60í–‰ Ã— 173ì»¬ëŸ¼

ğŸ”„ 2022ë…„ ì²˜ë¦¬ ì¤‘...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… 2022ë…„ ë³‘í•© ì™„ë£Œ â†’ SCORE_ALL_2022_MERGED.csv, 57í–‰ Ã— 171ì»¬ëŸ¼

ğŸ”„ 2023ë…„ ì²˜ë¦¬ ì¤‘...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… 2023ë…„ ë³‘í•© ì™„ë£Œ â†’ SCORE_ALL_2023_MERGED.csv, 57í–‰ Ã— 171ì»¬ëŸ¼

ğŸ”„ 2024ë…„ ì²˜ë¦¬ ì¤‘...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

âœ… 2024ë…„ ë³‘í•© ì™„ë£Œ â†’ SCORE_ALL_2024_MERGED.csv, 57í–‰ Ã— 170ì»¬ëŸ¼