### Î®∏Ïã†Îü¨Îãù Ï≤´Î≤àÏß∏ - Îç∞Ïù¥ÌÑ∞ Ï†ïÍ∑úÌôî

Ïò§ÎùºÌÅ¥ Ï†ëÏÜç

In [2]:
import oracledb

# Oracle Instant Client ÎùºÏù¥Î∏åÎü¨Î¶¨ Í≤ΩÎ°ú
client_dir = r"C:\\Users\\user\\Desktop\\KSM\\Tools\\instantclient-basic-windows.x64-19.25.0.0.0dbru\\instantclient_19_25"
oracledb.init_oracle_client(lib_dir=client_dir)

# Ï†ëÏÜç Ï†ïÎ≥¥ ÏûÖÎ†•
username = "libra"
password = "ksm0923"
dsn = "localhost:1521/XE"

# Ï†ëÏÜç ÏãúÎèÑ
try:
    conn = oracledb.connect(user=username, password=password, dsn=dsn)
    cursor = conn.cursor()
    print("üîó Oracle DB Ï†ëÏÜç ÏÑ±Í≥µ")
except Exception as e:
    print("‚ùå Oracle DB Ïó∞Í≤∞ Ïã§Ìå®:", e)

üîó Oracle DB Ï†ëÏÜç ÏÑ±Í≥µ

Ïó∞ÎèÑÎ≥Ñ NUM01~05 Îç∞Ïù¥ÌÑ∞Î•º ÌïòÎÇòÏùò ÌÖåÏù¥Î∏îÎ°ú Ìï©ÏπòÍ∏∞ -> TD_"Ïó∞ÎèÑ" ÌÉúÏù¥Î∏î ÏÉùÏÑ±

In [9]:
import pandas as pd

# üîÅ Ïó∞ÎèÑ Î∞è Í≥µÌÜµ Ïª¨Îüº ÏÑ§Ï†ï
years = range(2014, 2025)
common_cols = ['YR', 'ID', 'SNM', 'STYP', 'FND', 'RGN', 'USC']

for year in years:
    dfs = []
    for i in range(1, 6):  # NUM01 ~ NUM05
        table = f"NUM0{i}_{year}"

        try:
            df = pd.read_sql(f"SELECT * FROM {table}", conn)
            df.columns = [col.upper() for col in df.columns]  # ÎåÄÏÜåÎ¨∏Ïûê ÌÜµÏùº
            df['YR'] = year  # ÌòπÏãú Îπ†Ï†∏ ÏûàÏúºÎ©¥ ÏÇΩÏûÖ

            if i > 1:
                df = df.drop(columns=[col for col in common_cols if col in df.columns])

            dfs.append(df)

        except Exception as e:
            print(f"‚ùå {table} Î∂àÎü¨Ïò§Í∏∞ Ïã§Ìå®: {e}")

    # üß± ÌÖåÏù¥Î∏î Î≥ëÌï© Î∞è Ï†ÄÏû•
    if dfs:
        df_td = pd.concat(dfs, axis=1)
        td_table_name = f"TD_{year}"

        try:
            # Ïò§ÎùºÌÅ¥ ÌÖåÏù¥Î∏î ÏÉùÏÑ± (SQLAlchemy ÏóÜÏù¥ oracledbÎßåÏúºÎ°ú ÏßÅÏ†ë Ïã§Ìñâ)
            columns = ', '.join([f'"{col}" CLOB' if df_td[col].dtype == 'object' else f'"{col}" FLOAT' for col in df_td.columns])
            create_sql = f'CREATE TABLE "{td_table_name}" ({columns})'

            try:
                cursor.execute(f'DROP TABLE "{td_table_name}"')
            except:
                pass  # Ï°¥Ïû¨ Ïïà Ìï† Í≤ΩÏö∞ Î¨¥Ïãú

            cursor.execute(create_sql)

            # Î†àÏΩîÎìú ÏûÖÎ†•
            rows = [tuple(row) for row in df_td.itertuples(index=False, name=None)]
            placeholders = ', '.join([':' + str(i+1) for i in range(len(df_td.columns))])
            insert_sql = f'INSERT INTO "{td_table_name}" VALUES ({placeholders})'
            cursor.executemany(insert_sql, rows)
            conn.commit()

            print(f"üì¶ Oracle Ï†ÄÏû• ÏôÑÎ£å: {td_table_name} ({df_td.shape})")

        except Exception as e:
            print(f"‚ùå Oracle Ï†ÄÏû• Ïã§Ìå®: {td_table_name} ‚Üí {e}")

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

üì¶ Oracle Ï†ÄÏû• ÏôÑÎ£å: TD_2014 ((461, 139))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

üì¶ Oracle Ï†ÄÏû• ÏôÑÎ£å: TD_2015 ((461, 139))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

üì¶ Oracle Ï†ÄÏû• ÏôÑÎ£å: TD_2016 ((461, 139))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

üì¶ Oracle Ï†ÄÏû• ÏôÑÎ£å: TD_2017 ((461, 139))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

üì¶ Oracle Ï†ÄÏû• ÏôÑÎ£å: TD_2018 ((461, 139))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

üì¶ Oracle Ï†ÄÏû• ÏôÑÎ£å: TD_2019 ((461, 157))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

üì¶ Oracle Ï†ÄÏû• ÏôÑÎ£å: TD_2020 ((461, 165))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

üì¶ Oracle Ï†ÄÏû• ÏôÑÎ£å: TD_2021 ((461, 171))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

üì¶ Oracle Ï†ÄÏû• ÏôÑÎ£å: TD_2022 ((461, 169))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

üì¶ Oracle Ï†ÄÏû• ÏôÑÎ£å: TD_2023 ((461, 169))

C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\414588176.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {table}", conn)

üì¶ Oracle Ï†ÄÏû• ÏôÑÎ£å: TD_2024 ((461, 168))

NUM00_Ïó∞ÎèÑ ÌÖåÏù¥Î∏îÏùÑ Í∏∞Ï§ÄÏúºÎ°ú ÌèâÍ∞ÄÏ†êÏàòÍ∞Ä Ï°¥Ïû¨ÌïòÎäî Îç∞Ïù¥ÌÑ∞Îßå ÌïÑÌÑ∞ÎßÅÌïòÏó¨ SCORE_ALL_"Ïó∞ÎèÑ" ÌÖåÏù¥Î∏î ÏÉùÏÑ±

In [ ]:
# Ïò§Î•òÏΩîÎìú

import pandas as pd

for year in range(2014, 2025):
    try:
        # üì• NUM00 ÌÖåÏù¥Î∏î Î∂àÎü¨Ïò§Í∏∞
        df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
        df_num.columns = [col.upper() for col in df_num.columns]
        df_num["YR"] = year

        # üì• TD ÌÖåÏù¥Î∏î Î∂àÎü¨Ïò§Í∏∞
        df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)
        df_td.columns = [col.upper() for col in df_td.columns]

        # üîó Î≥ëÌï©: NUM00 Í∏∞Ï§Ä LEFT JOIN
        df_merge = pd.merge(df_num, df_td, on=["SNM", "YR"], how="left")

        # üßπ Ï§ëÎ≥µ Ïª¨Îüº Ï†úÍ±∞: *_X, *_Y ‚Üí Ïö∞Ï∏° TD Ïª¨Îüº Ï†úÍ±∞
        df_merge = df_merge.loc[:, ~df_merge.columns.duplicated()]
        df_merge.columns = [col.replace('_X', '').replace('_Y', '') for col in df_merge.columns]

        # üîß Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Ï†ïÎ¶¨: Ïà´ÏûêÌòï ‚Üí float Î≥ÄÌôò / Î¨∏ÏûêÌòï ‚Üí str
        for col in df_merge.select_dtypes(include=['float', 'int']).columns:
            df_merge[col] = pd.to_numeric(df_merge[col], errors='coerce')

        for col in df_merge.select_dtypes(include='object').columns:
            df_merge[col] = df_merge[col].astype(str)

        # üèõÔ∏è Oracle ÌÖåÏù¥Î∏î ÏÉùÏÑ±
        table_name = f'SCORE_ALL_{year}'

        try:
            cursor.execute(f'DROP TABLE "{table_name}"')
        except:
            pass  # ÏóÜÏúºÎ©¥ Î¨¥Ïãú

        col_defs = ', '.join([
            f'"{col}" CLOB' if df_merge[col].dtype == object else f'"{col}" FLOAT'
            for col in df_merge.columns
        ])
        cursor.execute(f'CREATE TABLE "{table_name}" ({col_defs})')

        # üîΩ INSERT
        rows = [tuple(row) for row in df_merge.itertuples(index=False, name=None)]
        placeholders = ', '.join([f':{i+1}' for i in range(len(df_merge.columns))])
        cursor.executemany(f'INSERT INTO "{table_name}" VALUES ({placeholders})', rows)
        conn.commit()

        print(f"‚úÖ Ï†ÄÏû• ÏôÑÎ£å: {table_name} ‚Üí {df_merge.shape[0]}Ìñâ √ó {df_merge.shape[1]}Ïª¨Îüº")

    except Exception as e:
        print(f"‚ùå Ï†ÄÏû• Ïã§Ìå®: SCORE_ALL_{year} ‚Üí {e}")

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ Ï†ÄÏû• ÏôÑÎ£å: SCORE_ALL_2014 ‚Üí 34Ìñâ √ó 141Ïª¨Îüº

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ Ï†ÄÏû• ÏôÑÎ£å: SCORE_ALL_2015 ‚Üí 36Ìñâ √ó 141Ïª¨Îüº

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ Ï†ÄÏû• ÏôÑÎ£å: SCORE_ALL_2016 ‚Üí 36Ìñâ √ó 141Ïª¨Îüº

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ Ï†ÄÏû• ÏôÑÎ£å: SCORE_ALL_2017 ‚Üí 36Ìñâ √ó 141Ïª¨Îüº

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ Ï†ÄÏû• ÏôÑÎ£å: SCORE_ALL_2018 ‚Üí 35Ìñâ √ó 141Ïª¨Îüº

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ Ï†ÄÏû• ÏôÑÎ£å: SCORE_ALL_2019 ‚Üí 64Ìñâ √ó 159Ïª¨Îüº

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ Ï†ÄÏû• ÏôÑÎ£å: SCORE_ALL_2020 ‚Üí 61Ìñâ √ó 167Ïª¨Îüº

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ Ï†ÄÏû• ÏôÑÎ£å: SCORE_ALL_2021 ‚Üí 60Ìñâ √ó 173Ïª¨Îüº

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ Ï†ÄÏû• ÏôÑÎ£å: SCORE_ALL_2022 ‚Üí 57Ìñâ √ó 171Ïª¨Îüº

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ Ï†ÄÏû• ÏôÑÎ£å: SCORE_ALL_2023 ‚Üí 57Ìñâ √ó 171Ïª¨Îüº

C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\3214456646.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ Ï†ÄÏû• ÏôÑÎ£å: SCORE_ALL_2024 ‚Üí 57Ìñâ √ó 170Ïª¨Îüº

Ïù∏Ìíã ÌõÑÎ≥¥Íµ∞ Ïª¨ÎüºÎßå ÎÇ®Í≤®ÎëêÍ≥† Ï†ÑÏ≤¥ ÏÇ≠Ï†ú, Î™®Îì†Ïó∞ÎèÑÎ•º Ìï©Ïπú ÏµúÏ¢Ö ÌÖåÏù¥Î∏î ÏÉùÏÑ±

In [19]:
import pandas as pd

# üéØ ÏûÖÎ†• Î≥ÄÏàò ÏïΩÎ¨∏Î™Ö (21Í∞ú)
input_abbr = [
    'BCNT_SUM', 'BPS', 'ABI', 'LAS', 'TRS', 'TPC', 'APS',
    'UBGT', 'USTL', 'MCT', 'CPS',
    'LUC', 'LU_SUM', 'LB_SUM', 'EDC', 'EP', 'LPS', 'VPS',
    'SPK', 'LPK', 'EHS'
]

# üéØ Î©îÌÉÄ/ÌÉÄÍπÉ Î≥ÄÏàò (9Í∞ú)
meta_cols = ['YR', 'RK', 'SNM', 'SCR', 'ID', 'STYP', 'FND', 'RGN', 'USC']

# üôå Ïª¨Îüº Ïú†ÏßÄ Î™©Î°ù
keep_set = set(input_abbr + meta_cols)

filtered_dfs = []

for year in range(2014, 2025):
    try:
        df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
        df.columns = [col.upper() for col in df.columns]

        # ‚úÖ Ï†ëÎØ∏Ïñ¥ Í∏∞Ï§Ä ÌïÑÌÑ∞ÎßÅ
        selected_cols = [col for col in df.columns if any(col.endswith(k) or col == k for k in keep_set)]
        df = df[selected_cols]

        # ‚úÖ ÎàÑÎùΩ Ïª¨Îüº Î≥¥ÏôÑ
        for col in keep_set:
            if col not in df.columns:
                df[col] = None

        # ‚úÖ Ïª¨Îüº ÏàúÏÑú Ï†ïÎ†¨
        df = df[[col for col in meta_cols + input_abbr]]
        filtered_dfs.append(df)

        print(f"‚úÖ ÌïÑÌÑ∞ÎßÅ ÏôÑÎ£å: SCORE_ALL_{year} ‚Üí {df.shape}")

    except Exception as e:
        print(f"‚ùå Ïã§Ìå®: {year} ‚Üí {e}")

# üì¶ Ï†ÑÏ≤¥ Î≥ëÌï©
df_filtered = pd.concat(filtered_dfs, ignore_index=True)

# üîß Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Ï†ïÏ†ú
for col in df_filtered.select_dtypes(include=['float', 'int']).columns:
    df_filtered[col] = pd.to_numeric(df_filtered[col], errors='coerce')
for col in df_filtered.select_dtypes(include='object').columns:
    df_filtered[col] = df_filtered[col].astype(str)

# üèõÔ∏è Oracle Ï†ÄÏû•: SCORE_FILTERED
try:
    cursor.execute('DROP TABLE "SCORE_FILTERED"')
except:
    pass

col_defs = ', '.join([
    f'"{col}" CLOB' if df_filtered[col].dtype == object else f'"{col}" FLOAT'
    for col in df_filtered.columns
])
cursor.execute(f'CREATE TABLE "SCORE_FILTERED" ({col_defs})')

rows = [tuple(row) for row in df_filtered.itertuples(index=False, name=None)]
placeholders = ', '.join([f':{i+1}' for i in range(len(df_filtered.columns))])
cursor.executemany(f'INSERT INTO "SCORE_FILTERED" VALUES ({placeholders})', rows)
conn.commit()

print(f"üéØ SCORE_FILTERED Ï†ÄÏû• ÏôÑÎ£å ‚Üí {df_filtered.shape[0]}Ìñâ √ó {df_filtered.shape[1]}Ïª¨Îüº")

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)

‚úÖ ÌïÑÌÑ∞ÎßÅ ÏôÑÎ£å: SCORE_ALL_2014 ‚Üí (34, 30)
‚úÖ ÌïÑÌÑ∞ÎßÅ ÏôÑÎ£å: SCORE_ALL_2015 ‚Üí (36, 30)
‚úÖ ÌïÑÌÑ∞ÎßÅ ÏôÑÎ£å: SCORE_ALL_2016 ‚Üí (36, 30)
‚úÖ ÌïÑÌÑ∞ÎßÅ ÏôÑÎ£å: SCORE_ALL_2017 ‚Üí (36, 30)
‚úÖ ÌïÑÌÑ∞ÎßÅ ÏôÑÎ£å: SCORE_ALL_2018 ‚Üí (35, 30)
‚úÖ ÌïÑÌÑ∞ÎßÅ ÏôÑÎ£å: SCORE_ALL_2019 ‚Üí (64, 30)
‚úÖ ÌïÑÌÑ∞ÎßÅ ÏôÑÎ£å: SCORE_ALL_2020 ‚Üí (61, 30)
‚úÖ ÌïÑÌÑ∞ÎßÅ ÏôÑÎ£å: SCORE_ALL_2021 ‚Üí (60, 30)

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)

‚úÖ ÌïÑÌÑ∞ÎßÅ ÏôÑÎ£å: SCORE_ALL_2022 ‚Üí (57, 30)
‚úÖ ÌïÑÌÑ∞ÎßÅ ÏôÑÎ£å: SCORE_ALL_2023 ‚Üí (57, 30)
‚úÖ ÌïÑÌÑ∞ÎßÅ ÏôÑÎ£å: SCORE_ALL_2024 ‚Üí (57, 30)

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2024841746.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM SCORE_ALL_{year}', conn)

üéØ SCORE_FILTERED Ï†ÄÏû• ÏôÑÎ£å ‚Üí 533Ìñâ √ó 30Ïª¨Îüº

In [20]:
import pandas as pd

# üîÅ OracleÏóêÏÑú SCORE_FILTERED ÌÖåÏù¥Î∏î Î∂àÎü¨Ïò§Í∏∞
df_filtered = pd.read_sql('SELECT * FROM SCORE_FILTERED', conn)

# üíæ CSVÎ°ú Ï†ÄÏû•
csv_path = r"C:\Users\user\Desktop\SCORE_FILTERED.csv"
df_filtered.to_csv(csv_path, index=False, encoding='utf-8-sig')

print(f"‚úÖ CSV Ï†ÄÏû• ÏôÑÎ£å ‚Üí {csv_path}")

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2325416135.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_filtered = pd.read_sql('SELECT * FROM SCORE_FILTERED', conn)

‚úÖ CSV Ï†ÄÏû• ÏôÑÎ£å ‚Üí C:\Users\user\Desktop\SCORE_FILTERED.csv

In [24]:
for year in range(2014, 2025):
    try:
        table_name = f'SCORE_ALL_{year}'
        df = pd.read_sql(f'SELECT * FROM {table_name}', conn)
        df.columns = [col.upper() for col in df.columns]

        print(f"\nüóìÔ∏è {table_name} ÏÉÅÏúÑ 5Ìñâ:")
        display(df.head())

    except Exception as e:
        print(f"‚ùå {table_name} Î∂àÎü¨Ïò§Í∏∞ Ïã§Ìå®: {e}")

üóìÔ∏è SCORE_ALL_2014 ÏÉÅÏúÑ 5Ìñâ:

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCP,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2014.0,3,ÌïúÍµ≠Í≥ºÌïôÍ∏∞Ïà†Ïõê,49.88,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2014.0,4,Í≥†Î†§ÎåÄÌïôÍµê,49.84,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2014.0,5,ÌïúÏñëÎåÄÌïôÍµê,48.63,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2014.0,1,ÏÑúÏö∏ÎåÄÌïôÍµê,66.06,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2014.0,2,Ïó∞ÏÑ∏ÎåÄÌïôÍµê,50.95,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

üóìÔ∏è SCORE_ALL_2015 ÏÉÅÏúÑ 5Ìñâ:

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCP,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2015.0,3,Í≥†Î†§ÎåÄÌïôÍµê,49.79,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2015.0,4,ÌïúÍµ≠Í≥ºÌïôÍ∏∞Ïà†Ïõê,48.95,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2015.0,5,Ìè¨Ìï≠Í≥µÍ≥ºÎåÄÌïôÍµê,48.24,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2015.0,1,ÏÑúÏö∏ÎåÄÌïôÍµê,64.82,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2015.0,2,Ïó∞ÏÑ∏ÎåÄÌïôÍµê,51.02,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

üóìÔ∏è SCORE_ALL_2016 ÏÉÅÏúÑ 5Ìñâ:

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCP,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2016.0,3,ÌïúÍµ≠Í≥ºÌïôÍ∏∞Ïà†Ïõê,49.11,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2016.0,4,Í≥†Î†§ÎåÄÌïôÍµê,49.01,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2016.0,5,Ìè¨Ìï≠Í≥µÍ≥ºÎåÄÌïôÍµê,47.73,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2016.0,1,ÏÑúÏö∏ÎåÄÌïôÍµê,64.92,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2016.0,2,Ïó∞ÏÑ∏ÎåÄÌïôÍµê,50.25,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

üóìÔ∏è SCORE_ALL_2017 ÏÉÅÏúÑ 5Ìñâ:

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCP,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCP,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2017.0,3,Í≥†Î†§ÎåÄÌïôÍµê,47.94,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2017.0,4,ÌïúÍµ≠Í≥ºÌïôÍ∏∞Ïà†Ïõê,47.34,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2017.0,5,ÏÑ±Í∑†Í¥ÄÎåÄÌïôÍµê,45.71,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2017.0,1,ÏÑúÏö∏ÎåÄÌïôÍµê,62.23,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2017.0,2,Ïó∞ÏÑ∏ÎåÄÌïôÍµê,48.53,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

üóìÔ∏è SCORE_ALL_2018 ÏÉÅÏúÑ 5Ìñâ:

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCP,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCP,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2018.0,3,ÏÑ±Í∑†Í¥ÄÎåÄÌïôÍµê,78,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2018.0,4,Ïó∞ÏÑ∏ÎåÄÌïôÍµê,77.9,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2018.0,5,Í≥†Î†§ÎåÄÌïôÍµê,77.6,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2018.0,1,ÏÑúÏö∏ÎåÄÌïôÍµê,83.7,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2018.0,2,Í≥ºÌïôÍ∏∞Ïà†Ïó∞Ìï©ÎåÄÌïôÏõêÎåÄÌïôÍµê,78.8,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

üóìÔ∏è SCORE_ALL_2019 ÏÉÅÏúÑ 5Ìñâ:

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCP,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCP,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2019.0,3,Í≥†Î†§ÎåÄÌïôÍµê,79.2,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2019.0,4,ÏÑ±Í∑†Í¥ÄÎåÄÌïôÍµê,78.9,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2019.0,5,ÌïúÍµ≠Í≥ºÌïôÍ∏∞Ïà†Ïõê,78.7,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2019.0,1,ÏÑúÏö∏ÎåÄÌïôÍµê,86.3,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2019.0,2,Ïó∞ÏÑ∏ÎåÄÌïôÍµê,79.7,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

üóìÔ∏è SCORE_ALL_2020 ÏÉÅÏúÑ 5Ìñâ:

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCC,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2020.0,3,Í≥†Î†§ÎåÄÌïôÍµê,79.3,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2020.0,4,ÏÑ±Í∑†Í¥ÄÎåÄÌïôÍµê,78.8,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2020.0,5,ÌïúÍµ≠Í≥ºÌïôÍ∏∞Ïà†Ïõê,78,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2020.0,1,ÏÑúÏö∏ÎåÄÌïôÍµê,86.5,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2020.0,2,Ïó∞ÏÑ∏ÎåÄÌïôÍµê,79.6,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

üóìÔ∏è SCORE_ALL_2021 ÏÉÅÏúÑ 5Ìñâ:

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCC,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2021.0,2,Í≥†Î†§ÎåÄÌïôÍµê,79.6,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2021.0,1,ÏÑúÏö∏ÎåÄÌïôÍµê,86.5,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2021.0,5,ÌïúÍµ≠Í≥ºÌïôÍ∏∞Ïà†Ïõê,78.2,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2021.0,6,ÌïúÏñëÎåÄÌïôÍµê,76.5,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2021.0,3,Ïó∞ÏÑ∏ÎåÄÌïôÍµê,79.4,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

üóìÔ∏è SCORE_ALL_2022 ÏÉÅÏúÑ 5Ìñâ:

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCC,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2022.0,2,Í≥†Î†§ÎåÄÌïôÍµê,79.6,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2022.0,1,ÏÑúÏö∏ÎåÄÌïôÍµê,86.5,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2022.0,5,ÌïúÍµ≠Í≥ºÌïôÍ∏∞Ïà†Ïõê,78,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2022.0,6,ÌïúÏñëÎåÄÌïôÍµê,76.6,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2022.0,3,Ïó∞ÏÑ∏ÎåÄÌïôÍµê,79.5,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

üóìÔ∏è SCORE_ALL_2023 ÏÉÅÏúÑ 5Ìñâ:

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCC,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2023.0,2,Í≥†Î†§ÎåÄÌïôÍµê,79.8,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2023.0,1,ÏÑúÏö∏ÎåÄÌïôÍµê,86.6,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2023.0,5,ÌïúÍµ≠Í≥ºÌïôÍ∏∞Ïà†Ïõê,78.2,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2023.0,6,ÌïúÏñëÎåÄÌïôÍµê,76.7,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2023.0,3,Ïó∞ÏÑ∏ÎåÄÌïôÍµê,79.8,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

C:\Users\user\AppData\Local\Temp\ipykernel_28588\1955630010.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {table_name}', conn)

üóìÔ∏è SCORE_ALL_2024 ÏÉÅÏúÑ 5Ìñâ:

,YR,RK,SNM,SCR,ID,STYP,FND,RGN,USC,BR_TCNT_KB,...,SPK_SCC,SPK_SPK,LPK_LFT2,LPK_LPT2,LPK_SCC,LPK_LPK,EHS_EH,EHS_LFT,EHS_LPT,EHS_EHS
0,2024.0,2,Ïó∞ÏÑ∏ÎåÄÌïôÍµê,80.2,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2024.0,1,ÏÑúÏö∏ÎåÄÌïôÍµê,86.7,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,2024.0,5,ÌïúÍµ≠Í≥ºÌïôÍ∏∞Ïà†Ïõê,78,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,2024.0,6,ÌïúÏñëÎåÄÌïôÍµê,76.7,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,2024.0,3,Í≥†Î†§ÎåÄÌïôÍµê,80,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [31]:
import pandas as pd

for year in range(2014, 2025):
    print(f"\nüîÑ {year}ÎÖÑ Ï≤òÎ¶¨ Ï§ë...")

    # üì• NUM00 Î∂àÎü¨Ïò§Í∏∞
    df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
    df_num.columns = [col.upper() for col in df_num.columns]

    # üì• TD Î∂àÎü¨Ïò§Í∏∞
    df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)
    df_td.columns = [col.upper() for col in df_td.columns]

    # üîß SNM Ï†ïÏ†ú
    df_num["SNM"] = df_num["SNM"].astype(str).str.strip().str.upper()
    df_td["SNM"] = df_td["SNM"].astype(str).str.strip().str.upper()

    # üîç TD ÌïÑÌÑ∞ÎßÅ
    td_filtered = df_td[df_td["SNM"].isin(df_num["SNM"])].copy()

    # ‚ö†Ô∏è ÎàÑÎùΩÎêú SNM ÌôïÏù∏
    unmatched_snms = df_num[~df_num["SNM"].isin(df_td["SNM"])]["SNM"].tolist()
    if unmatched_snms:
        print(f"‚ö†Ô∏è [Í≤ΩÍ≥†] {year}ÎÖÑ: NUM00Ïóê ÏûàÎäî SNM Ï§ë {len(unmatched_snms)}Í∞úÍ∞Ä TDÏóê ÏóÜÏùå!")
        print(f"   ÎàÑÎùΩÎêú SNM Î™©Î°ù ‚ûú {unmatched_snms}")

    # üßπ ÏàúÏÑú Ï†ïÎ†¨
    td_filtered = td_filtered.set_index("SNM").reindex(df_num["SNM"].values).reset_index()

    # ‚úÖ Ï§ëÎ≥µ Ïª¨Îüº Ï†úÍ±∞
    overlap_cols = [col for col in td_filtered.columns if col in df_num.columns and col != "SNM"]
    td_filtered = td_filtered.drop(columns=overlap_cols)

    # üîó Î≥ëÌï©
    df_merge = pd.concat([df_num.reset_index(drop=True), td_filtered.drop(columns="SNM")], axis=1)

    # üíæ Ï†ÄÏû•
    csv_path = f"SCORE_ALL_{year}_MERGED.csv"
    df_merge.to_csv(csv_path, index=False, encoding='utf-8-sig')

    print(f"‚úÖ {year}ÎÖÑ Î≥ëÌï© ÏôÑÎ£å ‚Üí {csv_path}, {df_merge.shape[0]}Ìñâ √ó {df_merge.shape[1]}Ïª¨Îüº")

üîÑ 2014ÎÖÑ Ï≤òÎ¶¨ Ï§ë...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ 2014ÎÖÑ Î≥ëÌï© ÏôÑÎ£å ‚Üí SCORE_ALL_2014_MERGED.csv, 34Ìñâ √ó 141Ïª¨Îüº

üîÑ 2015ÎÖÑ Ï≤òÎ¶¨ Ï§ë...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ 2015ÎÖÑ Î≥ëÌï© ÏôÑÎ£å ‚Üí SCORE_ALL_2015_MERGED.csv, 36Ìñâ √ó 141Ïª¨Îüº

üîÑ 2016ÎÖÑ Ï≤òÎ¶¨ Ï§ë...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ 2016ÎÖÑ Î≥ëÌï© ÏôÑÎ£å ‚Üí SCORE_ALL_2016_MERGED.csv, 36Ìñâ √ó 141Ïª¨Îüº

üîÑ 2017ÎÖÑ Ï≤òÎ¶¨ Ï§ë...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ 2017ÎÖÑ Î≥ëÌï© ÏôÑÎ£å ‚Üí SCORE_ALL_2017_MERGED.csv, 36Ìñâ √ó 141Ïª¨Îüº

üîÑ 2018ÎÖÑ Ï≤òÎ¶¨ Ï§ë...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ 2018ÎÖÑ Î≥ëÌï© ÏôÑÎ£å ‚Üí SCORE_ALL_2018_MERGED.csv, 35Ìñâ √ó 141Ïª¨Îüº

üîÑ 2019ÎÖÑ Ï≤òÎ¶¨ Ï§ë...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ 2019ÎÖÑ Î≥ëÌï© ÏôÑÎ£å ‚Üí SCORE_ALL_2019_MERGED.csv, 64Ìñâ √ó 159Ïª¨Îüº

üîÑ 2020ÎÖÑ Ï≤òÎ¶¨ Ï§ë...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ 2020ÎÖÑ Î≥ëÌï© ÏôÑÎ£å ‚Üí SCORE_ALL_2020_MERGED.csv, 61Ìñâ √ó 167Ïª¨Îüº

üîÑ 2021ÎÖÑ Ï≤òÎ¶¨ Ï§ë...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ 2021ÎÖÑ Î≥ëÌï© ÏôÑÎ£å ‚Üí SCORE_ALL_2021_MERGED.csv, 60Ìñâ √ó 173Ïª¨Îüº

üîÑ 2022ÎÖÑ Ï≤òÎ¶¨ Ï§ë...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ 2022ÎÖÑ Î≥ëÌï© ÏôÑÎ£å ‚Üí SCORE_ALL_2022_MERGED.csv, 57Ìñâ √ó 171Ïª¨Îüº

üîÑ 2023ÎÖÑ Ï≤òÎ¶¨ Ï§ë...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ 2023ÎÖÑ Î≥ëÌï© ÏôÑÎ£å ‚Üí SCORE_ALL_2023_MERGED.csv, 57Ìñâ √ó 171Ïª¨Îüº

üîÑ 2024ÎÖÑ Ï≤òÎ¶¨ Ï§ë...

C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_num = pd.read_sql(f"SELECT * FROM NUM00_{year}", conn)
C:\Users\user\AppData\Local\Temp\ipykernel_28588\2069373574.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_td = pd.read_sql(f"SELECT * FROM TD_{year}", conn)

‚úÖ 2024ÎÖÑ Î≥ëÌï© ÏôÑÎ£å ‚Üí SCORE_ALL_2024_MERGED.csv, 57Ìñâ √ó 170Ïª¨Îüº