### Î®∏Ïã†Îü¨Îãù Ï≤´Î≤àÏß∏ - Îç∞Ïù¥ÌÑ∞ Ï†ïÍ∑úÌôî

In [1]:
import oracledb

# Oracle Instant Client ÎùºÏù¥Î∏åÎü¨Î¶¨ Í≤ΩÎ°ú
client_dir = r"C:\\Users\\user\\Desktop\\KSM\\Tools\\instantclient-basic-windows.x64-19.25.0.0.0dbru\\instantclient_19_25"
oracledb.init_oracle_client(lib_dir=client_dir)

# Ï†ëÏÜç Ï†ïÎ≥¥ ÏûÖÎ†•
username = "libra"
password = "ksm0923"
dsn = "localhost:1521/XE"

# Ï†ëÏÜç ÏãúÎèÑ
try:
    conn = oracledb.connect(user=username, password=password, dsn=dsn)
    cursor = conn.cursor()
    print("üîó Oracle DB Ï†ëÏÜç ÏÑ±Í≥µ")
except Exception as e:
    print("‚ùå Oracle DB Ïó∞Í≤∞ Ïã§Ìå®:", e)

üîó Oracle DB Ï†ëÏÜç ÏÑ±Í≥µ

In [17]:
import pandas as pd

schema = "LIBRA"  # Oracle ÏÇ¨Ïö©Ïûê Ïä§ÌÇ§ÎßàÎ™Ö (ÎåÄÎ¨∏Ïûê)
years = list(range(2014, 2025))  # 2014 ~ 2024
prefixes = [f"NUM0{i}_" for i in range(1, 6)]  # NUM01_ ~ NUM05_

result = []

for idx, year in enumerate(years):
    prefix = prefixes[idx % len(prefixes)]  # Î∞òÎ≥µÏ†ÅÏúºÎ°ú ÌÖåÏù¥Î∏î Î≤àÌò∏ ÏÑ†ÌÉù
    table_name = f"{prefix}{year}"

    sc_query = f"""
        SELECT COUNT(*) FROM ALL_TAB_COLUMNS
        WHERE OWNER = '{schema}' AND TABLE_NAME = '{table_name.upper()}'
        AND REGEXP_LIKE(COLUMN_NAME, '(^|_)SC$', 'i')
        AND NOT REGEXP_LIKE(COLUMN_NAME, 'SCC$|SCP$', 'i')
    """

    scc_query = f"""
        SELECT COUNT(*) FROM ALL_TAB_COLUMNS
        WHERE OWNER = '{schema}' AND TABLE_NAME = '{table_name.upper()}'
        AND REGEXP_LIKE(COLUMN_NAME, 'SCC$', 'i')
    """

    scp_query = f"""
        SELECT COUNT(*) FROM ALL_TAB_COLUMNS
        WHERE OWNER = '{schema}' AND TABLE_NAME = '{table_name.upper()}'
        AND REGEXP_LIKE(COLUMN_NAME, 'SCP$', 'i')
    """

    try:
        cursor.execute(sc_query)
        sc_count = cursor.fetchone()[0]
        cursor.execute(scc_query)
        scc_count = cursor.fetchone()[0]
        cursor.execute(scp_query)
        scp_count = cursor.fetchone()[0]

        result.append({
            "Ïó∞ÎèÑ": year,
            "ÌÖåÏù¥Î∏îÎ™Ö": table_name,
            "SC Ïª¨Îüº Ïàò": sc_count,
            "SCC Ïª¨Îüº Ïàò": scc_count,
            "SCP Ïª¨Îüº Ïàò": scp_count
        })
    except Exception as e:
        result.append({
            "Ïó∞ÎèÑ": year,
            "ÌÖåÏù¥Î∏îÎ™Ö": table_name,
            "SC Ïª¨Îüº Ïàò": f"Ïã§Ìå®: {str(e)}",
            "SCC Ïª¨Îüº Ïàò": "",
            "SCP Ïª¨Îüº Ïàò": ""
        })

# Í≤∞Í≥º Ï∂úÎ†•
df_result = pd.DataFrame(result)
display(df_result)

      Ïó∞ÎèÑ        ÌÖåÏù¥Î∏îÎ™Ö  SC Ïª¨Îüº Ïàò  SCC Ïª¨Îüº Ïàò  SCP Ïª¨Îüº Ïàò
0   2014  NUM01_2014        0         1         0
1   2015  NUM02_2015        0         1         0
2   2016  NUM03_2016        0         1         0
3   2017  NUM04_2017        0         0         3
4   2018  NUM05_2018        0         0         2
5   2019  NUM01_2019        0         0         1
6   2020  NUM02_2020        0         1         0
7   2021  NUM03_2021        0         0         1
8   2022  NUM04_2022        2         0         2
9   2023  NUM05_2023        0         2         0
10  2024  NUM01_2024        0         0         1

[]

SyntaxError: invalid syntax (270706406.py, line 1)